<div>
  <header
    class="d-flex flex-wrap align-items-center justify-content-center  py-3 border-bottom custom-shadow">

    <div class="col-2">
      <img class="logo" src="../assets/img/logo.png" alt="">
    </div>

    <ul class="nav col-2 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="#" class="nav-link px-2 link-secondary" [routerLink]="['home']">Home</a></li>
      <li><a href="#" class="nav-link px-2"  [routerLink]="'/sobre'">Sobre</a></li>
      <li><a href="#" class="nav-link px-2"  [routerLink]="'/contato'">contato</a></li>
      <li><a href="#" class="nav-link px-2"></a></li>
    </ul>

    <div class="col-4 text-end px-5" *ngIf="!logado">
      <button type="button" class="btn btn-outline-success me-2">Entrar</button>
      <button [routerLink]="['cadastro']" type="button" class="btn btn-success">Cadastrar-se</button>
    </div>
    <div class="col-4 text-end px-5" *ngIf="logado && produtor">
      <button [routerLink]="['cadastro']" type="button" class="btn btn-success">Area do produtor</button>
    </div>

  </header>


    <router-outlet></router-outlet>


</div>
<div class="container">
  <footer class="py-4 my-4 border-top ">
      <p class="text-center text-body-secondary fw-medium">© 2023 Stardrewgreen. Todos os direitos reservados.</p>
  </footer>
</div>