<div class="container">
  <nav class="mt-4" aria-label="breadcrumb">
    <ol class="breadcrumb custom-breadcrumb">
      <li class="breadcrumb-item"><a href="/home">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page"><a class="custom-link" href="/contato">Contato</a></li>
    </ol>
  </nav>
  
  <div class="row">
    <div class="text col-lg-6 col-md-12 col-sm-12">
      <div class="description">
        <h1 data-aos="fade-down" data-aos-delay="100" >Ficou com alguma dúvida?<br>Utilize o nosso suporte</h1>
        <p data-aos="fade-in" data-aos-delay="200" class="lead">Envie uma mensagem e entre em contato com algum<br> de nossos atendentes para te ajudar.</p>
      </div>
      <div class="contact mt-5">

        <img src="./../../../../assets/img/envelope.svg" alt="">
  
        <div class="information">
          <p class="contact-text">Envie uma mensagem para</p>
          <p class="contact-email">stardrewcompany@gmail.com</p>
        </div>    
      </div>
    </div>

    <div data-aos="fade-in" data-aos-delay="300" class="img-support col-lg-6 col-md-12 col-sm-12">
      <img src="./../../../../assets/img/support.svg" alt="">
    </div>

  </div>
  
  <div class="formulario">
  
    <div class="container formulario-text">
      <h4>suporte</h4>
      <h5 class="lead mb-4">Problemas ou sugestões? Entre em contato</h5>
    </div>
  
      <form>
        <div class="mb-3 form-space">
          <label for="nameContato" class="form-label">Seu nome</label>
          <input type="text" class="form-control" id="nameContato" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 form-space">
          <label for="emailContato" class="form-label">Seu endereço de e-mail</label>
          <input type="email" class="form-control" id="emailContato" aria-describedby="emailHelp">
        </div>
        <div class="mb-3 form-space">
          <label for="assuntoContato" class="form-label">Assunto</label>
          <textarea class="form-control" id="assuntoContato" rows="5"></textarea>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="checkContato">
          <label class="form-check-label" for="checkContato">Li e aceito os termos e condições</label>
        </div>
        <button type="submit" class="btn btn-success">Enviar</button>
      </form>
  
  </div>
  
</div>


