

.custom-breadcrumb .breadcrumb-item.separator {
    color: #777;
    margin: 0 5px;
  }
  

.custom-breadcrumb .breadcrumb-item:not(:first-child):before {
    content: ">";
    margin-right: 5px;
}

.custom-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

a {
   color: #588157;
   text-decoration: none;
   font-weight: 500;
   font-size: 15px;
}



  .text {
      display: flex;
      flex-direction: column;

      .description p {
          font-size: 18px;
          margin-top: 10px;
      }
  }

  .contact {
      display: flex;
      gap:10px;

      img {
          max-width: 50px;
      }

      .information {
          line-height: 5px;
          margin-top: 10px;
      }

      .contact-text {
          font-weight: 500;
      }

      .contact-email {
          color: rgb(151, 151, 151);
      }
  }

  .img-support img {
      max-width: 80%;
  }


.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;

  .formulario-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    h4 {
      text-transform: uppercase;
      letter-spacing: 8px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mb-3.form-space {
      width: 500px;

      label {
        display: block;
      }

      input[type="text"],
      input[type="email"],
      textarea {

        width: 500px; /* Alterado para 500px */
        max-width: 100%; /* Adicionado para garantir que o input não ultrapasse a largura definida */
        &:focus {
            border-color: #588157; // Define a cor do input selecionado
            box-shadow: 0 0 5px 2px #588157; // Define a sombra com a mesma cor
          }
          
      }
      
    }

    .form-check-input {

        &:focus,
        &:checked {
          border-color: #588157; // Define a cor do input selecionado
          box-shadow: 0 0 5px 2px #588157; // Define a sombra com a mesma cor
          background-color: #588157; // Define a cor de fundo quando estiver selecionado ou em foco
        }
    }


    .mb-3.form-check.form-space {
      width: 500px;
    }
  }
}
