.card-cadastro {
  width: 80%;
  margin: 50px 10%;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  & .div-button {
    justify-content: center;
    align-items: center;
    &_btn-cadastro {
      width: 50%;
    }
  }
}
