<div class="container">
  <nav class="mt-4" aria-label="breadcrumb">
  <ol class="breadcrumb custom-breadcrumb">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="custom-link" href="/sobre">Sobre</a></li>
  </ol>
</nav>

<div class="row">
  <div class="text col-lg-7 col-md-12 col-sm-12">
      <h2>Sobre nós</h2>
      <p class="lead">Somos uma empresa que  conecta produtores e consumidores de produtos orgânicos. Nascida em 2023, somos movidos pela paixão de conectar pessoas e construir uma 
        cadeia alimentar mais justa e sustentável.</p>
      <p class="lead">Stardewgreen rapidamente se tornou uma referência no mercado de orgânicos. Acreditamos que todos têm o direito de desfrutar de alimentos saudáveis e trabalhamos arduamente para tornar o consumo desses produtos orgânicos acessível a pessoas com interesses mútuos.</p>

  </div>
  <div class="img-about col-lg-5 col-md-12 col-sm-12 mb-5">
    <img src="./../../../../assets/img/img-about.jpg" alt="">
  </div>
</div>

</div>

<div class="cards mt-5 mb-5">

  <div class="card-item">
    <h3 class="card-tittle">MISSÃO</h3>
    <div class="card-description">
      <p class="lead">
        Conectar produtores e 
        consumidores de produtos
        orgânicos, tornando a 
        alimentação saudável 
        acessível a todos.
      </p>
    </div>
  </div>

  <div class="card-item">
    <h3 class="card-tittle">VISÃO</h3>
    <div class="card-description">
      <p class="lead">
        Ser a principal plataforma global
        de referência para 
        produtos orgânicos, 
        promovendo conscientização e 
        simplicidade na compra de
        alimentos saudáveis.
      </p>
    </div>
  </div>

  <div class="card-item">
    <h3 class="card-tittle">VALORES</h3>
    <div class="card-description">
      <p class="lead">
        Qualidade, transparência, 
        sustentabilidade, parceria e
        acessibilidade para todos..
      </p>
    </div>
  </div>

</div>

<div class="parallax mt-4">
  <p>Nossa plataforma intuitiva e amigável permite a pesquisa e entrega dos produtos 
    diretamente dos produtores locais de sua região.</p>
</div>



<div class="container-slogan mt-5">
  <h6>Junte-se a nós nessa jornada e faça parte dessa conexão orgânica entre produtores e consumidores!</h6>
</div>
