<header
    class="custom-shadow  border-bottom">
    <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
        <div class="col-md-3 mb-2 mb-md-0">
            <img class="logo" src="../assets/img/logo.png" alt="">
        </div>
    
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2" [routerLink]="['home']">Home</a></li>
            <li><a class="nav-link px-2"  [routerLink]="'/sobre'">Sobre</a></li>
            <li><a class="nav-link px-2"  [routerLink]="'/contato'">contato</a></li>
        </ul>
    

        <div class="col-md-3 text-end" *ngIf="!logado">
            <button type="button" class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#staticBackdropHeader">Entrar</button>
            <button [routerLink]="['cadastro']" type="button" class="btn btn-success">Cadastrar-se</button>
        </div>
    
        <div class="col-md-3 text-end" *ngIf="logado">
            <button type="button" class="btn btn-outline-success me-2" [routerLink]="['usuario', usuario._id]">{{tipoUsuario}}</button>
            <button type="button" class="btn btn-success" (click)="logout()">Sair <i class="fa fa-sign-out"></i></button>
        </div>
    </div>
</header> 
<!-- Modal -->
<div class="modal fade" id="staticBackdropHeader" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropHeaderLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center w-100" id="staticBackdropHeaderLabel">Login</h1>
          <button type="button" id="closeModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
        </div> 
        <form  [formGroup]="loginForm" (submit)="entrar()">
            <div class="modal-body">
                <div class="row">
                    <div class="mb-3 col-12">
                        <input  formControlName="email" type="email" class="form-control" id="emailHeader" placeholder="E-mail" (ngModelChange)="changeInput()">
                    </div>
                    <div class="mb-3 col-12"> 
                        <input  formControlName="senha" type="password" class="form-control" id="senhaHeader" placeholder="Senha">
                    </div>
                    <small *ngIf="loginFalha" class="text-danger">Usuário ou senha inválido</small>
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" [disabled]="loginForm.invalid" type="submit">Entrar</button>
            </div>
        </form>
      </div>
    </div>
</div>