<div class="container">
    <div class="p-4 p-md-5 mb-4 rounded row">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic" style="margin-top: 20%;">StardewGreen</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
                efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
        </div>
        <div class="col-md-6 px-0">
            <img src="./../../../../assets/img/cesta-mixta.webp" class="img-fluid" alt="" style="height: 500px;">
        </div>

        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="pesquise por produto desejado" aria-label="Search">
        </form>
    </div>
      <div class="row">
        <div class="col-lg-4 barraca">
          <div class="produtos">
          <div class="produto">
            <h5 class="name-produto text-center">Maça</h5>
            <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 7,80</p>
          </div>
          <div class="produto">
            <h5 class="name-produto text-center">Batata</h5>
            <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 5,00</p>
          </div>
          <div class="produto">
            <h5 class="name-produto text-center">Couve Flor</h5>
            <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 10,99</p>
          </div>
          </div>
          <div class="produtor">
            <div class="nome">
              <h5 class="text-center">Ester Morais</h5>
            </div>
            <div class="informacoes">
              <div class="entrega">
                <p class="text-center pergunta">Entrega?</p>
                <p class="text-center resposta">SIM</p>
              </div>
              <div class="contato">
                <p class="text-center pergunta">Contato</p>
                <p class="text-center resposta">(19) 99718-3289</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 barraca">
          <div class="produtos">
            <div class="produto">
              <h5 class="name-produto text-center">Goiaba</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 6,50</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Gengibre</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 3,20</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Abacate</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 11,99</p>
            </div>
          </div>
          <div class="produtor">
            <div class="nome">
              <h5 class="text-center">Witer Rezende</h5>
            </div>
            <div class="informacoes">
              <div class="entrega">
                <p class="text-center pergunta">Entrega?</p>
                <p class="text-center resposta">SIM</p>
              </div>
              <div class="contato">
                <p class="text-center pergunta">Contato</p>
                <p class="text-center resposta">(11) 99158-309</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 barraca">
          <div class="produtos">
            <div class="produto">
              <h5 class="name-produto text-center">Goiaba</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 6,50</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Gengibre</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 3,20</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Abacate</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 11,99</p>
            </div>
          </div>
          <div class="produtor">
            <div class="nome">
              <h5 class="text-center">Witer Rezende</h5>
            </div>
            <div class="informacoes">
              <div class="entrega">
                <p class="text-center pergunta">Entrega?</p>
                <p class="text-center resposta">SIM</p>
              </div>
              <div class="contato">
                <p class="text-center pergunta">Contato</p>
                <p class="text-center resposta">(11) 99158-309</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 barraca">
          <div class="produtos">
            <div class="produto">
              <h5 class="name-produto text-center">Goiaba</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 6,50</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Gengibre</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 3,20</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Abacate</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 11,99</p>
            </div>
          </div>
          <div class="produtor">
            <div class="nome">
              <h5 class="text-center">Witer Rezende</h5>
            </div>
            <div class="informacoes">
              <div class="entrega">
                <p class="text-center pergunta">Entrega?</p>
                <p class="text-center resposta">SIM</p>
              </div>
              <div class="contato">
                <p class="text-center pergunta">Contato</p>
                <p class="text-center resposta">(11) 99158-309</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 barraca">
          <div class="produtos">
            <div class="produto">
              <h5 class="name-produto text-center">Goiaba</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 6,50</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Gengibre</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 3,20</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Abacate</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 11,99</p>
            </div>
          </div>
          <div class="produtor">
            <div class="nome">
              <h5 class="text-center">Witer Rezende</h5>
            </div>
            <div class="informacoes">
              <div class="entrega">
                <p class="text-center pergunta">Entrega?</p>
                <p class="text-center resposta">SIM</p>
              </div>
              <div class="contato">
                <p class="text-center pergunta">Contato</p>
                <p class="text-center resposta">(11) 99158-309</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 barraca">
          <div class="produtos">
            <div class="produto">
              <h5 class="name-produto text-center">Goiaba</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 6,50</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Gengibre</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 3,20</p>
            </div>
            <div class="produto">
              <h5 class="name-produto text-center">Abacate</h5>
              <p class="price text-center"><i class="bi bi-coin mr-2" style="color:rgb(243, 207, 3)"></i> 11,99</p>
            </div>
          </div>
          <div class="produtor">
            <div class="nome">
              <h5 class="text-center">Witer Rezende</h5>
            </div>
            <div class="informacoes">
              <div class="entrega">
                <p class="text-center pergunta">Entrega?</p>
                <p class="text-center resposta">SIM</p>
              </div>
              <div class="contato">
                <p class="text-center pergunta">Contato</p>
                <p class="text-center resposta">(11) 99158-309</p>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>



