

.custom-breadcrumb .breadcrumb-item.separator {
    color: #777;
    margin: 0 5px;
  }



.custom-breadcrumb .breadcrumb-item:not(:first-child):before {
    content: ">";
    margin-right: 5px;
}

.custom-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

a {
   color: #588157;
   text-decoration: none;
   font-weight: 500;
   font-size: 15px;
}


.text {
    display: flex;
    flex-direction: column;

        p {
        font-size: 18px;
        margin-top: 10px;
    }
}



.img-about img {
    max-width: 100%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);

}

.parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(./../../../../assets/img/parallax.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);


    p {
        font-size:30px;
        color:white;
        text-shadow: 2px 2px 2px black;
        padding: 100px;
    }
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap:30px;
   

    .card-item {
        display: flex;
        flex-direction: column;

        h3 {
            border-bottom: 5px solid #588157;
        }

        .card-tittle {
            font-size: 25px;
            letter-spacing: 10px;
        }

        .card-description {
            border-radius: 20px;
            border: 1px solid #588157 ;
            width: 300px;
            height: 250px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover{
                border-color:white;
                box-shadow: 0 0 5px 2px #588157; // Define a sombra com a mesma cor
            }

            p {
                color:black;
                font-size: 18px;
                padding: 10px;
            }
        }
    
    }

   
}

.container-slogan {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1000px){
    .cards{
        flex-direction: column;
    }
}