<div class="row mt-4 p-4">
    <div class="col-6">
        <h1>Ola</h1>

    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <h2>Informações pessoais</h2>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-success">Editar <i class="fa fa-edit"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6 class="m-0">Nome:</h6>
                        <p>Witer</p>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
              </div>
        </div>
    </div>
</div>