<div class="container row" [routerLink]="['/']">
    <img src="./../../../../assets/img/feira-barraca.png" width="400px" alt="Imagem">
    <div class="texto col-4 texto-produto">
        <div class="row text-center produtor">
            <div class="col-12 p-0">
                <h6>Barraca do(a)</h6>
            </div>
            <div class="col-12 nome p-0">
                <h3>Witer</h3>
            </div>
        </div>
    </div>

    <div class="texto col-4 texto-produto-1">
        <div class="row text-center produtor">
            <div class="col-12 p-0">
                <h4>Brocolis</h4>
            </div>
            <div class="col-12 nome p-0">
                <h4>R$ 7,80</h4>
            </div>
        </div>
    </div>
    <div class="texto col-4 texto-produto-2">
        <div class="row text-center produtor">
            <div class="col-12 p-0">
                <h4>Batata</h4>
            </div>
            <div class="col-12 nome p-0">
                <h4>R$ 7,80</h4>
            </div>
        </div>
    </div>
    <div class="texto col-4 texto-produto-3">
        <div class="row text-center produtor">
            <div class="col-12 p-0">
                <h4>Couve Flor</h4>
            </div>
            <div class="col-12 nome p-0">
                <h4>R$ 7,80</h4>
            </div>
        </div>
    </div>
</div>